h1 {
    font-family: 'Roboto', bold;
    font-size: 40pt;
}

h2 {
    font-weight: 600;
    font-size: 24pt;
}

h3 {
    font-weight: 600;
    font-size: 16pt;
}

h4 {
    font-weight: 400;
    font-size: 12pt;
}

p {
    font-weight: 400;
    font-size: 12pt;
}